# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env

# Firebase Admin SDK Key (VERY IMPORTANT - DO NOT COMMIT THIS FILE!)
serviceAccountKey.json

# Local logs and temporary files
*.log
*.xlsx.temp
